@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  #page-header {
    width: 40%;
  }
  .content {
    width: 60%;
    float: right
  }
}

@media only screen and (max-width: 1024px) {
  body {
    display: block;
  }
}